<div class="collection-nav">
  <ul class="col-nav-slider">

    {% comment %}
      Link to see all collections in the 'top level collection'.
      This is set in stone, don't get rid of this plz
    {% endcomment %}

    {% if template == 'collection' %}
        {% if collection.url contains 'eat' %}{% capture esl %}eat{% endcapture %}
        {% elsif collection.url contains 'sleep' %}{% capture esl %}sleep{% endcapture %}
        {% elsif collection.url contains 'live'%}{% capture esl %}live{% endcapture %}
        {% else %}{% capture esl %}nothing{% endcapture %}{% endif %}
    {% elsif template == 'collection.eat' %}
        {% capture esl %}eat{% endcapture %}
    {% elsif template == 'collection.sleep' %}
        {% capture esl %}sleep{% endcapture %}
    {% elsif template == 'collection.live' %}
        {% capture esl %}live{% endcapture %}
    {% endif %}

    {% capture col_url %}/collections/{{esl}}{% endcapture %}

    {% if template == 'collection' %}
        <li>
          <a href="{{ col_url }}">
            {% if collection.image %}
              <img src="{{ collection.image | img_url: 'medium' }}" alt="">
            {% endif %}
          </a>
          <a href="{{ col_url }}">
            Everything in {{ esl | capitalize }}
          </a>
        </li>
    {% elsif template == 'collection.eat' %}
        <li>
          <a href="{{ col_url }}">
            {% if collections['eat'].image %}
              <img src="{{collections['eat'].image | img_url: 'medium' }}" alt="">
            {% endif %}
          </a>
          <a href="{{ col_url }}">
            Everything in {{ esl | capitalize }}
          </a>
        </li>
    {% elsif template == 'collection.sleep' %}
        <li>
          <a href="{{ col_url }}">
            {% if collections['sleep'].image %}
              <img src="{{collections['sleep'].image | img_url: 'medium' }}" alt="">
            {% endif %}
          </a>
          <a href="{{ col_url }}">
            Everything in {{ esl | capitalize }}
          </a>
        </li>
    {% elsif template == 'collection.live' %}
        <li>
          <a href="{{ col_url }}">
            {% if collections['live'].image %}
              <img src="{{collections['live'].image | img_url: 'medium' }}" alt="">
            {% endif %}
          </a>
          <a href="{{ col_url }}">
            Everything in {{ esl | capitalize }}
          </a>
        </li>
    {% endif %}

    {% if esl == 'eat' %}
        {% for link in linklists.eat.links %}
           {% capture linkTitle %}{{ link.title | replace: ' ', '-' | downcase }}{% endcapture %}
           {% capture linkCol %}collections.{{linkTitle}}.featured-image{% endcapture %}
            <li>
              <a href="{{shop.url}}/collections/{{ linkTitle }}?view={{esl}}">
                <img src="{{ linkCol | img_url: 'medium' }}" alt="" onError="style.display = 'none';">
              </a>
              <a href="{{shop.url}}/collections/{{ linkTitle }}?view={{esl}}">
                {{link.title}}
              </a>
            </li>
        {% endfor %}
    {% elsif esl == 'sleep' %}
        {% capture linkCol %}collections.{{esl}}.featured-image{% endcapture %}
        {% for link in linklists.sleep.links %}
            <li>
              <a href="{{shop.url}}/collections/{{ link.title | replace: ' ', '-' | downcase }}?view={{esl}}">
                <img src="{{ linkCol | img_url: 'medium' }}" alt="" onError="style.display = 'none';">
              </a>
              <a href="{{shop.url}}/collections/{{ link.title | replace: ' ', '-' | downcase }}?view={{esl}}">
                {{link.title}}
              </a>
            </li>
        {% endfor %}
    {% elsif esl == 'live' %}
        {% capture linkCol %}collections.{{esl}}.featured-image{% endcapture %}
        {% for link in linklists.live.links %}
            <li>
              <a href="{{shop.url}}/collections/{{ link.title | replace: ' ', '-' | downcase }}?view={{esl}}">
                <img src="{{ linkCol | img_url: 'medium' }}" alt="" onError="style.display = 'none';">
              </a>
              <a href="{{shop.url}}/collections/{{ link.title | replace: ' ', '-' | downcase }}?view={{esl}}">
                {{link.title}}
              </a>
            </li>
        {% endfor %}
    {% endif %}

  </ul>

</div>
