<div class="collection-box">
  <div class="eq-height">
   <span>
    <h1>{{ collection.title }}</h1>
    <p>{{ collection.description }}</p>
      </span>
  </div>
  <div style="background-image: url('{{collection.image | img_url: grande}}');" class="eq-height" id="col-img">
  </div>
</div>
