<ul class="social-icons">
  {% if settings.social_facebook_link != blank %}
    <li><a href="{{ settings.social_facebook_link }}"><i class="fa fa-facebook"></i></a></li>
  {% endif %}
  {% if settings.social_twitter_link != blank %}
  <li><a href="{{ settings.social_twitter_link }}"><i class="fa fa-twitter"></i></a></li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
  <li><a href="{{ settings.social_instagram_link }}"><i class="fa fa-instagram"></i></a></li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
  <li><a href="{{ settings.social_pinterest_link }}"><i class="fa fa-pinterest"></i></a></li>
  {% endif %}
</ul>