<div class="contain">
	<div class="flex-panel">
		<div class="flex-heading">
			
			
		</div>
	</div>
	<div class="flex-panel">
		<div class="flex-heading"></div>
	</div>
	<div class="flex-panel">
		<div class="flex-heading"></div>
	</div>
	<div class="flex-panel">
		<div class="flex-heading"></div>
	</div>
	<div class="flex-panel">
		<div class="flex-heading"></div>
	</div>
	<div class="flex-panel">
		<div class="flex-heading"></div>
	</div>
</div>