<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js {% if template contains "shop-by-collection" %} full-height {% endif %}"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- PLUGIN CSS =========================================== -->
  {{ 'jquery.fullPage.scss.css' | asset_url | stylesheet_tag }}

  <!-- LAYOUT CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  <!-- {{ 'global.scss.css' | asset_url | stylesheet_tag }} -->
  {{ 'content-and-layout.scss.css' | asset_url | stylesheet_tag }}
  {{ 'typography.scss.css' | asset_url | stylesheet_tag }}
  {{ 'footer.scss.css' | asset_url | stylesheet_tag }}
  {{ 'nav.scss.css' | asset_url | stylesheet_tag }}
  {{ 'index.scss.css' | asset_url | stylesheet_tag }}
  {{ 'ajax-cart.scss.css' | asset_url | stylesheet_tag }}
  {{ 'collection.scss.css' | asset_url | stylesheet_tag }}
  {{ 'collection--type.scss.css' | asset_url | stylesheet_tag }}
  {{ 'collection--collection.scss.css' | asset_url | stylesheet_tag }}
  {{ 'product.scss.css' | asset_url | stylesheet_tag }}
  {{ 'cart.scss.css' | asset_url | stylesheet_tag }}
  {{ 'contact.scss.css' | asset_url | stylesheet_tag }}
  {{ 'page--how-we-work.scss.css' | asset_url | stylesheet_tag }}
  {{ 'page--colors-and-samples.scss.css' | asset_url | stylesheet_tag }}
  {{ 'page--bespoke.scss.css' | asset_url | stylesheet_tag }}
  {{ 'blog.scss.css' | asset_url | stylesheet_tag }}
  {{ 'article.scss.css' | asset_url | stylesheet_tag }}
  {{ 'admin.scss.css' | asset_url | stylesheet_tag }}
  {{ 'our-story.scss.css' | asset_url | stylesheet_tag }}
  {{ 'how-we-work.scss.css' | asset_url | stylesheet_tag }}
  
  <!-- THEO IS LOVE THEO IS LIFE ===================================== -->
  <!-- ALL GLORY TO BASED THEO ======================================= -->
  {{ 'theo.scss.css' | asset_url | stylesheet_tag }}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'jquery.fullPage.min.js' | asset_url | script_tag }}

  {% if template contains 'product' %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    {{ 'slick.js' | asset_url | script_tag }}
  {% endif %}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <script>
    $(document).ready(function() {
      $('#fullpage').fullpage({
        navigation: true,
        navigationPosition: "right"
      });
    });
  </script>

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        {% include 'search-bar' %}
      </li>
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}
    </ul>
    <!-- //mobile-nav -->
  </div>
  {% if settings.ajax_cart_method == "drawer" %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  {% endif %}
  <div id="PageContainer" class="is-moved-by-drawer">
    <header class="site-header" role="banner">
      <div class="wrapper">

        <div class="grid">
          <div class="grid__item one-half no-line-height">
            {% include 'social-icons' %}
          </div>
          <div class="grid__item one-half text-right no-line-height">
            <ul class="customer-links">
              <li><a href=""><i class="fa fa-phone"></i></a></li>
              {% if shop.customer_accounts_enabled %}
                <li>
                  {% if customer %}
                      <a href="/account"><i class="fa fa-user"></i></a>
                  {% else %}
                    <a href="/account"><i class="fa fa-user"></i></a>
                  {% endif %}
                </li>
              {% endif %}
              <li class="medium-down--hide"><a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                (<span id="CartCount">{{ cart.item_count }}</span>)
              </a></li>
              <li>
                <a href="#"><i class="fa fa-search"></i></a>
                {% comment %}{% include 'search-bar' %}{% endcomment %}
              </li>
            </ul>
          </div>

        </div>

        <div class="grid--full grid--table">
          <div class="site-nav--mobile grid__item medium-down--one-third large--hide">
            <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
              <span class="icon icon-hamburger" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
            </button>
          </div>
          <nav class="grid__item nav-left five-twelfths medium-down--hide" role="navigation">
            <ul class="site-nav" id="AccessibleNav">
                {% for link in linklists.main-menu.links limit: 5 %}
                  {% comment %}
                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                    More info on dropdowns:
                      - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                  {% endcomment %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                      <a href="{{ link.url }}" class="site-nav__link">
                        {{ link.title }}
                      </a>
                      <div class="site-nav__dropdown">
                        <div class="dropdown-inner">
                          <div class="grid">
                            <div class="grid__item two-twelfths main-nav-item">
                              <div class="image-container"><img src="{{ 'all.png' | file_url }}"></div>
                                <a href="{{ link.url }}">Everything in {{ link.title }}</a>
                              </div>
                            <div class="grid__item ten-twelfths">
                              <ul>
                              {% for childlink in linklists[child_list_handle].links %}
                                <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                  {% assign img = childlink.title | handle | append: ".png" %}
                                  <div class="image-container"><img src="{{ img | file_url }}"></div>
                                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                </li>
                              {% endfor %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% else %}
                    <li {% if link.active %}class="site-nav--active"{% endif %}>
                      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
          <div class="grid__item medium-down--one-third large--two-twelfths">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}
            {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" class="site-header__logo-link">
                  {% if template == "index" %}
                    {% assign logoToUse = "logo.png" %}
                  {% else %}
                    {% assign logoToUse = "logo-dark.png" %}
                  {% endif %}
                  <img src="{{ logoToUse | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>
          <nav class="nav-bar grid__item nav-right medium-down--one-third large--five-twelfths" role="navigation">
            <div class="site-nav--mobile text-right medium-down--show large--hide">
              <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                <span class="icon-fallback-text">
                  <span class="icon icon-cart" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                </span>
              </a>
            </div>
            <ul class="site-nav medium-down--hide text-right" id="AccessibleNav">
                {% for link in linklists.main-menu.links offset: 5 %}
                  {% comment %}
                    Create a dropdown menu by naming a linklist the same as a link in the parent nav

                    More info on dropdowns:
                      - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                  {% endcomment %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                      <a href="{{ link.url }}" class="site-nav__link">
                        {{ link.title }}
                      </a>
                      <div class="site-nav__dropdown">
                        <div class="dropdown-inner">
                          <div class="grid">
                            <div class="grid__item two-twelfths main-nav-item">
                              <div class="image-container"><img src="{{ 'all.png' | file_url }}"></div>
                                <a>Everything in {{ link.title }}</a>
                              </div>
                            <div class="grid__item ten-twelfths">

                              <ul>
                              {% for childlink in linklists[child_list_handle].links %}
                                <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                  {% assign img = childlink.title | handle | append: ".png" %}
                                  <div class="image-container"><img src="{{ img | file_url }}"></div>
                                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                </li>
                              {% endfor %}
                              </ul>

                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </li>
                  {% else %}
                    <li {% if link.active %}class="site-nav--active"{% endif %}>
                      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
          
        </div>

      </div>
    </header>

    <main class="wrapper main-content" role="main"{% if template == 'product.NEW' %} id="full_width"{% endif %}>

      {{ content_for_layout }}

    </main>

    <!-- begin site-footer -->
    <footer>
      <div class="footer-inner">
        <div class="grid--full">
          <ul class="grid__item medium-down--one-whole medium-down--text-center large--two-twelfths vertical-padding-mobile">
            {% for link in linklists.footer.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          <div class="grid__item medium-down--one-whole large--seven-twelfths vertical-padding-mobile text-center footer-images">
            {% for i in (1..3) %}
              {% capture footerImg %}footer-image-{{i}}.png{% endcapture %}
              <img src="{{ footerImg | asset_url }}">
            {% endfor %}
          </div>
          {% if settings.footer_newsletter_enable %}
            <div class="grid__item medium-down--one-whole large--three-twelfths vertical-padding-mobile footer-newsletter large--text-right medium-down--text-center">
              <h4>NEWSLETTER SIGN UP</h4>
              <form method="post" action="{{ settings.newsletter_form_action }}">
                <div class="input-group">
                  <input type="text" placeholder="Enter your email address"></input>
                  <input type="submit" value="Sign up"></input>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="sub-bar">
        <p>© Eat Sleep Live Ltd 2016 designed by Shopify Builder</p>
      </div>
    </footer>

  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'parallax.js' | asset_url | script_tag }}
  {{ 'stellar.js' | asset_url | script_tag }}
  <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-wuJQusXvpkoc47YqTw2YlcaWLMJPWhQ&callback=initMaps" async defer></script-->

  <!-- Init Modules -->
  <!-- script>

    function initMaps() {

      "use strict";

      //Set up map data
      var mapElements = [
        document.getElementById('map-left'),
        document.getElementById('map-right')
      ];
      var loc = [
        {lat: {{settings.map_1_lat}}, lng: {{settings.map_1_lng}} },
        {lat: {{settings.map_2_lat}}, lng: {{settings.map_2_lng}} }
      ];
      var defaultZoom = 12;

      //Create the map
      for (var i = 0; i < mapElements.length; i++) {

        var mapElement = mapElements[i];

        //Draw map
        var map = new google.maps.Map(mapElement, {
          center: loc[i],
          zoom: defaultZoom
        });

        //Draw marker
        var marker = new google.maps.Marker({
          position: loc[i],
          map: map,
          title: "Hello World"
        });

      }

    }

  </script->

  <!-- JS Modules -->

  <!-- Init Modules and Bind UI -->
  <script>
    
    $.stellar();
 
  </script>

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

  {% if template contains 'collection' %}
    <script>

        (function($){
            function equalizeHeights(selector) {
                var heights = new Array();

                // Loop to get all element heights
                $(selector).each(function() {

                    // Need to let sizes be whatever they want so no overflow on resize
                    $(this).css('min-height', '0');
                    $(this).css('max-height', 'none');
                    $(this).css('height', 'auto');

                    // Then add size (no units) to array
                    heights.push($(this).height());
                });

                // Find max height of all elements
                var max = Math.max.apply( Math, heights );

                // Set all heights to max height
                $(selector).each(function() {
                    $(this).css('height', max + 'px');
                });

                var madmax = max + 40;

                $('#col-img').css('height', madmax + 'px')
            }

            $(window).load(function() {
                // Fix heights on page load
                equalizeHeights('.eq-height');

                // Fix heights on window resize
                $(window).resize(function() {

                    // Needs to be a timeout function so it doesn't fire every ms of resize
                    setTimeout(function() {
                        equalizeHeights('.eq-height');
                    }, 120);
                });
            });
        })(jQuery)

    </script>
  {% endif %}

  {% if template contains 'product' %}
    <script>
    jQuery(function($) {
      $('form[action="/cart/add"]').submit(function() {
        var formIsValid = true;
        var message = "Please fill this out and you will be able to add the item to your cart.";
        $(this).find('[name^="properties"]').filter('.required, [required="required"]').each(function() {
          $(this).removeClass('error');
          if (formIsValid && $(this).val() == '') {
            formIsValid = false;
            message = $(this).attr('data-error') || message;
            $(this).addClass('error');
          }
        });
        if (formIsValid){
          return true;
        }
        else {
          alert(message);
          return false;
        }
      }).find('input, select, textarea').focus(function() {
        $(this).removeClass('error');
      });
    });
    </script>
  {% endif %}

</body>
</html>
