$esl-blue : #759194;
$esl-grey : #f2f2f2;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin centered($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}


.product-container{
    .product-header{
         display: flex;
         flex-wrap: wrap;
        .product-image-carousel{
            float:left;
            width:60%;
            .product-image-carousel_image{
                img{
                    width:100%;

                }
            }
            @media only screen and (max-width:799px){
                width:100%;
                padding:20px;
            }
        }
        .product-description{
            padding:50px;
            float:left;
            width:40%;
            background:$esl-blue;
            position:relative;
            span{
                @include centered();
                text-align:center;
                h1{
                    font-size: 18px;
                    line-height: 26px;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 400;
                    margin-bottom: 50px;
                }
                p{
                    color:#fff;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 1px;
                    font-weight: 200;
                    margin-bottom:40px;
                    &:last-of-type{
                        margin-bottom:50px;
                        font-weight:400;
                    }
                }
                @media only screen and (max-width:799px){
                    width:100%;
                    padding:20px;
                }
            }
        }
    }
    .product-split{
        padding:60px 50px 45px;
        float:left;
        width:100%;
        background:$esl-grey;
        .split-item{
            text-align:center;
            float:left;
            width:calc(100% / 3);
            img{
                border-radius:50%;margin-bottom:30px;
                display:block;
                margin-left: auto;
                margin-right: auto;
            }
            h3{
                font-family: "Jenna Sue";
                font-size:50px;
                margin: 20px 5px;
            }
            p{
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 1px;
                font-weight: 300;
            }
            @media only screen and (max-width:799px){
                width:100%;
                padding:20px;
            }
        }
    }
    .product-options-info{
        display: flex;
        flex-wrap: wrap;
        float:left;
        width:100%;
        .product-options{
            padding:50px;
            float:left;
            width:50%;
            background:$esl-blue;
            @media only screen and (max-width:799px){
                width:100%;
                padding:20px;
            }
        }
        .product-info{
            padding:50px;
            float:left;
            width:50%;
            @media only screen and (max-width:799px){
                width:100%;
                padding:20px;
            }
        }
    }
}

#full_width{
    padding:0!important;
}

.breadcrumb{
    &.product-breadcrumb{
        padding: 0 50px;
    }
}

.tabs-menu{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-bottom: 1px solid #000;
    height: 31px;
    li{
        width:calc((100% / 3) - 20px);
        float: left;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        margin: 0 5px;
        a{
            display: block;
            padding: 5px;
            border: 1px solid #000;
            font-weight: 800;
            text-transform: uppercase;
            &.active{
                border-bottom:1px solid #fff;
            }
        }
    }
}

.tabs-content{
	> div{
		display: none;
		font-size: 16px;
        margin: 20px 60px;
	}

	> div.active{
		display: block;
	}
}

.slick-prev{
    position: absolute;
    top: calc(50% - 15px);
    left: 10px;
    z-index: 999;
    height:30px;
    width:30px;
    background:#fff;
}

.slick-next{
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    z-index: 999;
    height:30px;
    width:30px;
    background:#fff;
}

.single-option-selector{
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px;
}


.btn-gold{
    text-transform: uppercase;
    font-size: 10px;
    background: #d2b157;
    border-radius: 15px;
    padding: 8px 25px;
    width: 50px;
    color: #fff;
    @include transition(all .3s ease);
    &:hover{
        background:rgba(#d2b157, 0.5);
    }
}

.option{
    margin: 20px 0 0;
    list-style-type: none;
    label{
        display: inline-block;
        padding-right: 20px;
        input{ display:none; }
        img{
            border-radius: 50%;
            padding: 10px;
            cursor:pointer;
            border: 1px solid $esl-blue;
            margin-bottom: 10px;
            @include transition(border .3s ease);
        }
        h3{
            text-align: center;
            font-size: 16px;
            font-weight: 200;
            color: #fff;
        }
        &.active{
            img{
                border: 1px solid #fff;
            }
        }
        &:last-of-type{
            padding-right:0;
        }
    }
}

input.error, select.error, textarea.error {
  border-color: red;
}
