/* line 28, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.product-container .product-header {
  display: flex;
  flex-wrap: wrap; }
  /* line 31, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .product-container .product-header .product-image-carousel {
    float: left;
    width: 60%; }
    /* line 35, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .product-container .product-header .product-image-carousel .product-image-carousel_image img {
      width: 100%; }
    @media only screen and (max-width: 799px) {
      /* line 31, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
      .product-container .product-header .product-image-carousel {
        width: 100%;
        padding: 20px; } }
  /* line 45, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .product-container .product-header .product-description {
    padding: 50px;
    float: left;
    width: 40%;
    background: #759194;
    position: relative; }
    /* line 51, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .product-container .product-header .product-description span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      /* line 54, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
      .product-container .product-header .product-description span h1 {
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 50px; }
      /* line 63, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
      .product-container .product-header .product-description span p {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1px;
        font-weight: 200;
        margin-bottom: 40px; }
        /* line 70, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
        .product-container .product-header .product-description span p:last-of-type {
          margin-bottom: 50px;
          font-weight: 400; }
      @media only screen and (max-width: 799px) {
        /* line 51, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
        .product-container .product-header .product-description span {
          width: 100%;
          padding: 20px; } }

/* line 82, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.product-container .product-split {
  padding: 60px 50px 45px;
  float: left;
  width: 100%;
  background: #f2f2f2; }
  /* line 87, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .product-container .product-split .split-item {
    text-align: center;
    float: left;
    width: calc(100% / 3); }
    /* line 91, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .product-container .product-split .split-item img {
      border-radius: 50%;
      margin-bottom: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    /* line 97, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .product-container .product-split .split-item h3 {
      font-family: "Jenna Sue";
      font-size: 50px;
      margin: 20px 5px; }
    /* line 102, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .product-container .product-split .split-item p {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1px;
      font-weight: 300; }
    @media only screen and (max-width: 799px) {
      /* line 87, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
      .product-container .product-split .split-item {
        width: 100%;
        padding: 20px; } }

/* line 117, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.product-container .product-options-info {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 100%; }
  /* line 122, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .product-container .product-options-info .product-options {
    padding: 50px;
    float: left;
    width: 50%;
    background: #759194; }
    @media only screen and (max-width: 799px) {
      /* line 122, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
      .product-container .product-options-info .product-options {
        width: 100%;
        padding: 20px; } }
  /* line 132, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .product-container .product-options-info .product-info {
    padding: 50px;
    float: left;
    width: 50%; }
    @media only screen and (max-width: 799px) {
      /* line 132, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
      .product-container .product-options-info .product-info {
        width: 100%;
        padding: 20px; } }

/* line 144, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
#full_width {
  padding: 0 !important; }

/* line 149, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.breadcrumb.product-breadcrumb {
  padding: 0 50px; }

/* line 154, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.tabs-menu {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 1px solid #000;
  height: 31px; }
  /* line 162, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .tabs-menu li {
    width: calc((100% / 3) - 20px);
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin: 0 5px; }
    /* line 169, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .tabs-menu li a {
      display: block;
      padding: 5px;
      border: 1px solid #000;
      font-weight: 800;
      text-transform: uppercase; }
      /* line 175, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
      .tabs-menu li a.active {
        border-bottom: 1px solid #fff; }

/* line 183, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.tabs-content > div {
  display: none;
  font-size: 16px;
  margin: 20px 60px; }

/* line 189, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.tabs-content > div.active {
  display: block; }

/* line 194, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.slick-prev {
  position: absolute;
  top: calc(50% - 15px);
  left: 10px;
  z-index: 999;
  height: 30px;
  width: 30px;
  background: #fff; }

/* line 204, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.slick-next {
  position: absolute;
  top: calc(50% - 15px);
  right: 10px;
  z-index: 999;
  height: 30px;
  width: 30px;
  background: #fff; }

/* line 214, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.single-option-selector {
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px; }

/* line 221, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.btn-gold {
  text-transform: uppercase;
  font-size: 10px;
  background: #d2b157;
  border-radius: 15px;
  padding: 8px 25px;
  width: 50px;
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  /* line 230, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .btn-gold:hover {
    background: rgba(210, 177, 87, 0.5); }

/* line 235, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
.option {
  margin: 20px 0 0;
  list-style-type: none; }
  /* line 238, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
  .option label {
    display: inline-block;
    padding-right: 20px; }
    /* line 241, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .option label input {
      display: none; }
    /* line 242, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .option label img {
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      border: 1px solid #759194;
      margin-bottom: 10px;
      -moz-transition: border 0.3s ease;
      -o-transition: border 0.3s ease;
      -webkit-transition: border 0.3s ease;
      transition: border 0.3s ease; }
    /* line 250, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .option label h3 {
      text-align: center;
      font-size: 16px;
      font-weight: 200;
      color: #fff; }
    /* line 257, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .option label.active img {
      border: 1px solid #fff; }
    /* line 261, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
    .option label:last-of-type {
      padding-right: 0; }

/* line 267, C:/Users/Chris/Desktop/Projects/Eat Sleep Live/assets/product.scss */
input.error, select.error, textarea.error {
  border-color: red; }

/*# sourceMappingURL=product.css.map */