<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">

  {% comment %}
    COLLECTION NAV
  {% endcomment %}
  <div class="grid__item large--one-whole">

    {% include 'collection-nav' %}

  </div>

  {% comment %}
    PRODUCTS
  {% endcomment %}
  <div class="grid__item large--one-whole">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
    {% comment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <div class="rte rte--header">

        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="section-header__right">

        </div>
      </div>
    {% else %}
      <header class="section-header">
        <h1 class="section-header__title section-header__left"></h1>
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </header>
    {% endif %}
    {% endcomment %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}

    <div class="grid collection-products">

      {% comment %}
        Show this before any of the collection items. It's a big box which contains the collection title, a
        description and image. The rest of the product items wrap around this.
      {% endcomment %}

      {% if paginate.current_page == 1 %}
          <div class="grid__item large--one-half collection-sidebar no-image">
            {% include 'collection-title' %}
          </div>
      {% endif %}

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>

</div>

<div class="grid__item large--one-whole pagination-filters">

  <div class="grid__item large--one-half limit-filter">
    <select>
      <option value="">See 12 Items Per Page</option>
      <option value="">See 24 Items Per Page</option>
      <option value="">See 48 Items Per Page</option>
    </select>
  </div>

  {% if paginate.pages > 1 %}
    <div class="grid__item large--one-half pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
  {% endif %}

</div>

{% endpaginate %}
