<div id="fullpage">
    {% assign order = settings.homepage-order | replace: ", ", "," | split: "," %}

    {% for i in order %}
        <div class="section">
        {% if i == '1' %}
           {% capture sectionEnable %}section-{{ i }}-enable{% endcapture %}
           {% unless sectionEnable %}{% continue %}{% endunless %}

           
             {% for j in (1..5) %}
               {% capture collectionSetting %}section-{{ i }}-collection-{{ j }}{% endcapture %}
               {% capture collectionTitle %}section-{{ i }}-collection-{{ j }}-title{% endcapture %}
               {% capture collectionImage %}section-{{ i }}-collection-{{ j }}-image.png{% endcapture %}
               {% assign collection = collections[settings[collectionSetting]] %}

               {% if settings[collectionTitle] == "" %}
                 {% continue %}
               {% endif %}

             <div class="slide" data-anchor="slide{{ j }}">
               <div class="home-section" style="background-image: url('{{ collectionImage | asset_url }}')">
                 <div class="caption text-center">
                   <div class="caption-inner">
                     <h2>{{ settings[collectionTitle] }}</h2>
                     <h3>Collection</h3>
                     <p>{{ collection.description }}</p>
                     <a href="{{ collection.url }}">Shop Now</a>
                   </div>
                 </div>
               </div>
             </div>
             {% endfor %}
        {% endif%}

        {% if i == '2' or i == '3' or i == '5' or i == '6' %}

          {% capture sectionTitle %}section-{{ i }}-title{% endcapture %}
          {% capture sectionSubTitle %}section-{{ i }}-sub-title{% endcapture %}
          {% capture sectionCaption %}section-{{ i }}-caption{% endcapture %}
          {% capture sectionImage %}section-{{ i }}-image.png{% endcapture %}
          {% capture sectionButton %}section-{{ i }}-button{% endcapture %}
          {% capture sectionUrl %}section-{{ i }}-url{% endcapture %}
          {% capture sectionAlignment %}section-{{ i }}-align{% endcapture %}
          {% capture sectionSubTitlePosition %}section-{{ i }}-sub-title-position{% endcapture %}

          
            
            <div class="home-section" style="background-image: url('{{ sectionImage | asset_url }}')">
              <div class="smaller caption text-{{ settings[sectionAlignment] }}">
                <div class="caption-inner">
                  {% if settings[sectionSubTitlePosition] == "top" and settings[sectionSubTitle] != "" %}
                    <h3>{{ settings[sectionSubTitle] }}</h3>
                  {% endif %}
                  <h2>{{ settings[sectionTitle] }}</h2>
                  {% if settings[sectionSubTitlePosition] == "bottom" and settings[sectionSubTitle] != "" %}
                    <h3>{{ settings[sectionSubTitle] }}</h3>
                  {% endif %}
                  <p>{{ settings[sectionCaption] }}</p>
                  <a href="{{ settings[sectionUrl] }}">{{ settings[sectionButton] }}</a>
                </div>
              </div>
            </div>

        {% endif %}
        
        {% if i == '4' %}
          
          <div class="grid--full smaller-title-items full-height">
            {% for j in (1..2) %}

            {% capture sectionTitle %}section-{{ i }}-title-{{ j }}{% endcapture %}
            {% capture sectionCaption %}section-{{ i }}-caption-{{ j }}{% endcapture %}
            {% capture sectionImage %}section-{{ i }}-image-{{ j }}.png{% endcapture %}
            {% capture sectionButton %}section-{{ i }}-button-{{ j }}{% endcapture %}
            {% capture sectionUrl %}section-{{ i }}-url-{{ j }}{% endcapture %}
            
            <div class="grid__item one-half full-height no-padding">
              <div class="full-height background-cover" style="background-image: url('{{ sectionImage | asset_url }}')">
                <div class="caption text-center">
                  <div class="caption-inner">
                    <h3>{{ settings[sectionTitle] }}</h3>
                    <p>{{ settings[sectionCaption] }}</p>
                    <a href="{{ settings[sectionUrl] }}">{{ settings[sectionButton] }}</a>
                  </div>
                </div>
              </div>
            </div>

              
            {% endfor %}
          </div>


        {% endif %}

        {% if i == '7' %}
          {% comment %}Blog{% endcomment %}
          <div class="grid--full grid--rev smaller-title-items full-height">
            {% capture homeBlog %}section-{{ i }}-blog{% endcapture %}
            {% assign homeBlog = blogs[settings[homeBlog]] %}
            {% for article in homeBlog.articles limit: 3 %}
              <div class="grid__item large--one-third medium-down--one-half small--one-whole no-padding {% if forloop.index == 3 %}medium-down--hide{% endif %} full-height home-article-post">
                <div class="full-height background-cover" style="background-image: url('{{ article | img_url: "master" }}')">
                  <div class="caption text-center">
                    <div class="caption-inner">
                      <h3>{{ article.title }}</h3>
                      <p>{{ article.content | strip_html | truncate: 100 }}</p>
                      <a href="{{ article.url }}">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      
      </div>
    {% endfor %}
    <div class="section fp-auto-height">
      <footer>
        <div class="footer-inner">
          <div class="grid--full">
            <ul class="grid__item medium-down--one-whole medium-down--text-center large--two-twelfths vertical-padding-mobile">
              {% for link in linklists.footer.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            <div class="grid__item medium-down--one-whole large--seven-twelfths vertical-padding-mobile text-center footer-images">
              {% for i in (1..3) %}
                {% capture footerImg %}footer-image-{{i}}.png{% endcapture %}
                <img src="{{ footerImg | asset_url }}">
              {% endfor %}
            </div>
            {% if settings.footer_newsletter_enable %}
              <div class="grid__item medium-down--one-whole large--three-twelfths vertical-padding-mobile footer-newsletter large--text-right medium-down--text-center">
                <h4>NEWSLETTER SIGN UP</h4>
                <form method="post" action="{{ settings.newsletter_form_action }}">
                  <div class="input-group">
                    <input type="text" placeholder="Enter your email address"></input>
                    <input type="submit" value="Sign up"></input>
                  </div>
                </form>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="sub-bar">
          <p>© Eat Sleep Live Ltd 2016 designed by Shopify Builder</p>
        </div>
      </footer>
    </div>
</div>

<script>
  
  $('.parallax-window').parallax({imageSrc: '/path/to/image.jpg'});
  
</script>
