<div class="how-we-work-section how-we-work-section-one text-center">
  <div class="image-block" style="background-image: url('{{ 'how-we-work-1.jpg' | asset_url }}')"></div>
  <div class="text-block">
    <div class="caption-inner">
      <h1>{{ settings.how-we-work-section-1-title }}</h1>
      <p>{{ settings.how-we-work-section-1-text }}</p>
      <a href="{{ settings.how-we-work-section-1-link}}">{{ settings.how-we-work-section-1-button }}</a>
    </div>
  </div>
</div>

<div class="how-we-work-section how-we-work-section-two text-center">
  <div class="text-block">
    <div class="caption-inner">
      <h1>{{ settings.how-we-work-section-2-title }}</h1>
      <p>{{ settings.how-we-work-section-2-text }}</p>
      <a href="{{ settings.how-we-work-section-2-link}}">{{ settings.how-we-work-section-2-button }}</a>
    </div>
  </div>
  <div class="image-block" style="background-image: url('{{ 'how-we-work-2.jpg' | asset_url }}')"></div>
</div>

<div class="how-we-work-section how-we-work-section-three text-center">
  <div class="image-block" style="background-image: url('{{ 'how-we-work-3.jpg' | asset_url }}')"></div>
  <div class="text-block">
    <div class="caption-inner">
      <h1>{{ settings.how-we-work-section-3-title }}</h1>
      <p>{{ settings.how-we-work-section-3-text }}</p>
      <a href="{{ settings.how-we-work-section-3-link}}">{{ settings.how-we-work-section-3-button }}</a>
    </div>
  </div>
</div>