<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

    {% comment %}
      Contact form starts here
    {% endcomment %}
    <div class="grid contact">
      <div class="grid__item large--one-half medium--one-whole">
        <div class="form-vertical">
          {% form 'contact' %}

            {% comment %}
              Successful message
            {% endcomment %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            {% assign name_attr = 'contact.form.name' | t | handle %}
            <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

            <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
            <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

            {% assign name_attr = 'contact.form.phone' | t | handle %}
            <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

            <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

          {% endform %}
        </div>
      </div>

      {% comment %}
         Contact details and Live Chat Section
      {% endcomment %}
      <div class="grid__item large--one-half medium--one-whole">
        
        <div class="contact-details">
          <h2>Contact Details</h2>
          <p></p>
          <p><p>
          <a><i class="fa fa-speech"></i>Live Chat</a>
          <h3>Follow Us</h3>
          {% include 'social-icons' %}
        </div>

      </div>
    </div>

    {% comment %}
      Map addresses
    {% endcomment %}
    
    <div class="grid locations">
      
      <!-- One -->
      <div class="grid__item large--one-half medium--one-whole">
        <div id="map-left" class="map" style="width: 100%; height: 400px;">
          
        </div>
        <div class="location-info">
          <div class="image">
            <div class="wrap" style="background-image: url('http://placehold.it/150x150');"></div>
          </div>
          <div class="data">
            <h2>Workshop</h2>
            <p>
              Test data
            </p>
            <h3>Opening Times</h3>
            <p>
              Test data<br>
              Test data<br>
              Test data<br>
            </p>
            <a href="#">Discover</a>
          </div>
        </div>
      </div>

      <!-- Two -->
      <div class="grid__item large--one-half medium--one-whole">
        <div id="map-right" class="location-map" style="width: 100%; height: 400px;">
          
        </div>
        <div class="location-info">
          <div class="image">
            <div class="wrap" style="background-image: url('http://placehold.it/150x150');"></div>
          </div>
          <div class="data">
            <h2>Workshop</h2>
            <p>
              Test data
            </p>
            <h3>Opening Times</h3>
            <p>
              Test data<br>
              Test data<br>
              Test data<br>
            </p>
            <a href="">Discover</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
