{% comment %}
	- Get number of settings that are filled
	- For i in amount of settings
		Create a new panel.
		Set an inline style with the width to 100% / the number of panels 
		Create an if statement for the penultimate panel to check that checkbox is on
			If checkbox is on, set 5 and 6 to be half the height, but only if there's a panel after it. So do a check to make sure that there's also a panel after
{% endcomment %}

<div id="CollectionsPane" class="contain">

	{% assign settings_count = 0 %}

	{% comment %}
		Go through each checkbox setting for collections and check if ticked. If ticked
		iterate the count which is used to calculate the widths of each panel later
	{% endcomment %}
	{% for i in (1..7) %}
		{% capture setting_name %}collection_{{i}}_checked{% endcapture %}
		{% if settings[setting_name] %}
			{% assign settings_count = settings_count | plus: 1 %}	
		{% endif %}
	{% endfor %}
	
	{% comment %}
		Create a bunch of panels based on the number returned from the counter check.
		First we get the panel width before looping through and creating each panel
	{% endcomment %}
	{% capture panel_width %}{{ 100 | divided_by: settings_count }}{% endcapture %}
	{% for i in (1..settings_count) %}

		{% comment %}
			Get the current BG based on current panel. 
			collection_bg will be appended to the background style on each panel and draw from the current panel's settings 
		{% endcomment %}
		{% capture collection_bg %}collection_{{i}}_bg.jpg{% endcapture %}
		{% capture collection_name %}collection_{{i}}_name{% endcapture %}
		{% capture collection_handle %}{{ settings[collection_name] | downcase }}-collection{% endcapture %}
		{{ collection_url }}
		
		{% capture penultimate %}{{ settings_count | minus: 1 }}{% endcapture %}
		{% if i < penultimate %}
			<span>Not penultimate</span>
		{% endcomment %}
		{% comment %}
			Create the panel
		{% endcomment %}
		<div class="flex-panel"
			style="
			    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url({{ collection_bg | asset_url }});
			    background-position: center;
			    background-size: cover;
				width: {{panel_width}}%;
		">
			
			<!-- Content -->
			<div class="flex-heading">
				<a><em>{{ settings[collection_name] }}</em><span>collection</span></a>
			</div>
			<a href="/collections/{{ collection_handle }}" class="linkto"></a>
			<!-- ./Content -->

		</div>

	{% endfor %}

	{% comment %}
		Stop footer underlapping into page
	{% endcomment %}
	<div class="collections-clearfix"></div>

</div>