<div class="panel-contain">

	{% comment %}
		Header panel
	{% endcomment %}
	<div class="panel-wide flex-display">
		<div class="flex-center">
			<h2>Shop by Type</h2>
			<p>
				{{ settings.shop_by_type_page_desc }}
			</p>
		</div>
	</div>

	{% comment %}
		Main panels
	{% endcomment %}
	{% for collection in collections %}

		{% comment %}
			- Because any collection that is a product type opens a simplified collection page
			we can use this conditional to check the template is simplified or not, thus filtering
			out the collections that aren't a product type, eg 'Cavindash Collection'.
			- The only drawback is that with this current method if the template's name changes then this code also has to change.
		{% endcomment %}
		{% if collection.template_suffix == "simplified" %}		

			{% comment %}
				Conditional to check if an image exists in the current collection, and if so, 
				set it as a background element to the current div
			{% endcomment %}
			{% capture collection_bg %}{{ collection.image | img_url: 'large' }}{% endcapture %}
			{% if collection.image %}
				<div class="panel flex-display" style=" background: 
													    linear-gradient(
													        rgba(0, 0, 0, 0.05), 
													        rgba(0, 0, 0, 0.05)
													    ),
													    url('{{ collection_bg }}'); 
													    background-size: cover;
													    background-position: center;">
			{% else %}
				<div class="panel flex-display" style="background: 
				                                        linear-gradient(
													        rgba(0, 0, 0, 0.45), 
													        rgba(0, 0, 0, 0.45)
													    );">
			{% endif %}	

				<div class="flex-display collection-links" href="{{collection.url}}">
					<div class="flex-center">

						{% comment %}
							Conditionally show number of available products + a link to 
							relevant collection page if product exists.
						{% endcomment %}
						<a>{{ collection.title }}</a>
						{% if collection.products_count > 0 %}
							<span>
								{{collection.products_count}}{% if collection.products_count == 1 %}&nbsp;product&nbsp;{% else %}&nbsp;products&nbsp;{% endif %}available
							</span>
							<a href="{{collection.url}}">
								<button class="btn btn-secondary">Shop now</button>
							</a>
						{% else %}
							<span>No products available</span>
						{% endif %}
					</div>
				</div>

			</div><!-- ./panel -->

		{% endif %}

	{% endfor %}

</div><!-- ./panel-contain -->