<div class="story-section story-section-one text-center" style="background-image: url('{{ 'our-story-1.jpg' | asset_url }}')">
  <div class="caption">
    <div class="caption-inner">
      <h1>{{ settings.our-story-section-1-title }}</h1>
      <p>{{ settings.our-story-section-1-text }}</p>
    </div>
  </div>
</div>

<div class="story-section story-section-two text-center grey">
  <div class="caption">
    <div class="caption-inner">
      <h5>{{ settings.our-story-section-2-title }}</h5>
      <p>{{ settings.our-story-section-2-text }}</p>
    </div>
  </div>
</div>

<div class="story-section story-section-three text-center" style="background-image: url('{{ 'our-story-3.jpg' | asset_url }}')">
  <div class="caption">
    <div class="caption-inner">
      <h5>{{ settings.our-story-section-3-title }}</h5>
      <p>{{ settings.our-story-section-3-text }}</p>
    </div>
  </div>
</div>

<div class="story-section story-section-four text-center grey">
  <div class="caption">
    <div class="caption-inner">
      <h5>{{ settings.our-story-section-4-title }}</h5>
      <p>{{ settings.our-story-section-4-text }}</p>
    </div>
  </div>
</div>

<div class="story-section story-section-five text-center" style="background-image: url('{{ 'our-story-5.jpg' | asset_url }}')">
  <div class="caption">
    <div class="caption-inner">
      <h5>{{ settings.our-story-section-5-title }}</h5>
      <p>{{ settings.our-story-section-5-text }}</p>
    </div>
  </div>
</div>