{% comment %}
	Hero Segment 
{% endcomment %}
{% capture hero_bg %}bespoke_hero_bg.jpg{% endcapture %}
<section class="hero" data-stellar-background-ratio="0.2" style="background-image: url('{{ hero_bg | asset_url }}'); background-attachment: fixed">

	<div class="hero-content">
		<h1>{{settings.bespoke_hero_title}}</h1>
		<p>{{settings.bespoke_hero_description}}</p>
		<a href="#">{{settings.bespoke_hero_enquiry_text}}</a>
	</div>

</section>

{% comment %}
	Grid of custom options
{% endcomment %}
{% capture custom_bg_1 %}bespoke_custom_bg_1.jpg{% endcapture %}
{% capture custom_bg_2 %}bespoke_custom_bg_2.jpg{% endcapture %}
{% capture custom_bg_3 %}bespoke_custom_bg_3.jpg{% endcapture %}
{% capture custom_bg_4 %}bespoke_custom_bg_4.jpg{% endcapture %}
{% capture custom_bg_5 %}bespoke_custom_bg_5.jpg{% endcapture %}
<section class="custom">
	
	<div class="grid full-height">

		{% comment %}
			Left Column (One Third)
		{% endcomment %}
		<div class="grid__item large--one-third medium--one-whole full-height" data-stellar-background-ratio="0.2" style="background-image: url('{{ custom_bg_1 | asset_url }}');">
			
			<!-- Custom 1 -->
			<div class="flex-container">
			
				<h1 class="flex-centered">{{settings.bespoke_box_1_title}}</h1>
		
			</div>

		</div>

		{% comment %}
			Right Column (Two Thirds)
		{% endcomment %}
		<div class="grid__item large--two-thirds medium--one-whole full-height">
			
			<div class="grid__item large--two-fifths medium--one-whole half-height" data-stellar-background-ratio="0.2" style="background-image: url('{{ custom_bg_2 | asset_url }}'); background-attachment: fixed">
				
				<div class="flex-container">
					<h1 class="flex-centered">{{settings.bespoke_box_2_title}}</h1>
				</div>

			</div>
			<div class="grid__item large--three-fifths medium--one-whole half-height" data-stellar-background-ratio="0.2" style="background-image: url('{{ custom_bg_3 | asset_url }}'); background-attachment: fixed">
				
				<div class="flex-container">
					<h1 class="flex-centered">{{settings.bespoke_box_3_title}}</h1>
				</div>

			</div>
			<div class="grid__item large--three-fifths medium--one-whole half-height" data-stellar-background-ratio="0.2" style="background-image: url('{{ custom_bg_4 | asset_url }}'); background-attachment: fixed;">
				
				<div class="flex-container">
					<h1 class="flex-centered">{{settings.bespoke_box_4_title}}</h1>
				</div>

			</div>
			<div class="grid__item large--two-fifths medium--one-whole half-height" data-stellar-background-ratio="0.2" style="background-image: url('{{ custom_bg_3 | asset_url }}'); background-attachment: fixed">
				
				<div class="flex-container">
					<h1 class="flex-centered">{{settings.bespoke_box_5_title}}</h1>
				</div>

			</div>

		</div>

	</div>

</section>

{% comment %}
	Contact form
{% endcomment %}
<section class="enquiry">
	
	<div class="grid">
		<div class="grid__item large--one-whole">
			
			<h2>{{settings.bespoke_enquiry_title}}</h2>
			<p>{{settings.bespoke_enquiry_description}}</p>
			<form action="" method="post">
				
				<label for="name" id="label-name">Full Name</label>
				<input type="text" name="name" id="name">

				<label for="telephone" id="label-telephone">Telephone Number</label>
				<input type="text" name="telephone" id="telephone">

				<label for="email" id="label-email">Email Address</label>
				<input type="email" name="email" id="email">

				<label for="description" id="label-description">Project Description</label>
				<textarea class="textarea" name="description" id="description" rows="10"></textarea>

				<input type="submit" placeholder="{{settings.bespoke_enquiry_button_text}}">

			</form>

		</div>
	</div>

</section>

{% comment %}
	Reviews
{% endcomment %}
<section class="reviews">
	
	<div class="grid">
		<div class="grid__item large--one-whole">
			
			<h2>{{settings.bespoke_reviews_title}}</h2>

			<div class="grid">
				<div class="grid__item large--one-third">
					<h3>{{settings.bespoke_customer_1_title}}</h3>
					<p>{{settings.bespoke_customer_1_review}}</p>
				</div>
				<div class="grid__item large--one-third">
					<h3>{{settings.bespoke_customer_2_title}}</h3>
					<p>{{settings.bespoke_customer_2_review}}</p>
				</div>
				<div class="grid__item large--one-third">
					<h3>{{settings.bespoke_customer_3_title}}</h3>
					<p>{{settings.bespoke_customer_3_review}}</p>
				</div>
			</div>

		</div>
	</div>

</section>
