<section class="header">
	
	<h1>Colours and Samples</h1>
	<p>
		{{settings.colours_and_samples_description}}
	</p>
	<a>Request colour samples</a>

</section>
<section class="sampler">
	
	<div id="Show" class="grid contain page-wrap">
		<div class="grid__item large--one-quarter medium--one-half small--one-whole left-list">
          <ul>
            <li data-position="0" style="background-image: url('{{ 'colours_samples_colour_1_image.jpg' | asset_url }}');">
              	<a href="#">{{ settings.colours_samples_colour_1 }}</a>
            </li>
            <li data-position="1" style="background-image: url('{{ 'colours_samples_colour_2_image.jpg' | asset_url }}');">
                <a href="#">{{ settings.colours_samples_colour_2 }}</a>
            </li>
            <li data-position="2" style="background-image: url('{{ 'colours_samples_colour_3_image.jpg' | asset_url }}');">
                <a href="#">{{ settings.colours_samples_colour_3 }}</a>
            </li>
            <li data-position="3" style="background-image: url('{{ 'colours_samples_colour_4_image.jpg' | asset_url }}');">
                <a href="#">{{ settings.colours_samples_colour_4 }}</a>
            </li>
          </ul>
		</div>
		<div class="grid__item large--three-quarters medium--one-half small--one-whole right-list">
          <ul>
            <li data-position="0" style="background-image: url('{{ 'colours_samples_colour_1_image.jpg' | asset_url }}');">
                <div class="slideIn"></div>
            </li>
            <li data-position="1" style="background-image: url('{{ 'colours_samples_colour_2_image.jpg' | asset_url }}');">
            	<div class="slideIn"></div>
            </li>
            <li data-position="2" style="background-image: url('{{ 'colours_samples_colour_3_image.jpg' | asset_url }}');">
            	<div class="slideIn"></div>
            </li>
            <li data-position="3" style="background-image: url('{{ 'colours_samples_colour_4_image.jpg' | asset_url }}');">
            	<div class="slideIn"></div>
            </li>
          </ul>
		</div>
	</div>

</section>
<section class="request">
	
  <div class="page-wrap">
	<h1>Request Colour Samples</h1>
	<p>
		{{settings.colours_and_samples}}
	</p>
  	<form action="">
      <label for="name">Name and surname</label>
      <input type="text" id="text">
      <label for="telephone">Telephone number</label>
      <input type="text" id="telephone">
      <label for="email">Email address</label>
      <input type="text" id="email">
      <label for="address">Address</label>
      <textarea id="address" rows="6"></textarea>
      <label for="items">Items interested in</label>
      <textarea id="items" rows="3"></textarea>
      <input type="submit">
    </form>
  </div>

</section>
<section class="browse">

  	<div class="browse-box">
      <h1>While you wait browse our collections</h1>
      <a>Browse</a>
  	</div>

</section>

<section class="collection-list">
  
    <div class="grid__item large--one-whole">
      <ul class="collections">
        <li style="background-image: url('{{ 'colours_samples_collection_1_bg.jpg' | asset_url }}');">
          <a><em>{{ settings.colours_samples_collection_1_title }}</em>Collection</a>
        </li>
        <li style="background-image: url('{{ 'colours_samples_collection_2_bg.jpg' | asset_url }}');">
          <a><em>{{ settings.colours_samples_collection_1_title }}</em>Collection</a>
        </li>
        <li style="background-image: url('{{ 'colours_samples_collection_3_bg.jpg' | asset_url }}');">
          <a><em>{{ settings.colours_samples_collection_1_title }}</em>Collection</a>
        </li>
        <li style="background-image: url('{{ 'colours_samples_collection_4_bg.jpg' | asset_url }}');">
          <a><em>{{ settings.colours_samples_collection_1_title }}</em>Collection</a>
        </li>
      </ul>
    </div>
  
</section>

<script>
  
  var leftList = $("#Show .left-list").find("li");
  var rightList = $("#Show .right-list").find("li");
  
  //Bind Click event to Left List
  for (var i = 0; i < leftList.length; i++) {
     
     //Make the first item in the list active and visible
     if (i == 0) {
       $(rightList[i]).addClass("active"); 
     }
    
     $(leftList[i]).bind("click", function() {
      
     //Get the slide position
     var position = $(this).data("position");
  	
     //Remove active class from current slide
     for (var i = 0; i < rightList.length; i++) {
       if ($(rightList[i]).hasClass("active")) {
       	$(rightList[i]).removeClass("active"); 
       }
     }
      
     //Set slide to new position based on menu click
     $(rightList[position]).addClass("active");
      
    });
  }
  
</script>