<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}

  {% assign current_variant = product.selected_or_first_available_variant %}

  {% assign prodSplit = product.description | split: '<!-- split -->' %}

  <div class="product-container">
      <div class="product-header">
          <div class="product-image-carousel">
             {% if product.images.size > 1 %}

             {% for image in product.images %}
                <div class="product-image-carousel_image">
                    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </div>
            {% endfor %}

            {% endif %}
          </div>
          <div class="product-description">
              <span>
                  <h1>{{ product.title }}</h1>
                  {{ prodSplit[0] }}
                  <p>From {{ product.price | money }}</p>
                  <p>Order now by phone on {{ shop.phone }}</p>
                  <a href="#" class="btn-gold">Buy Now</a>
              </span>
          </div>
      </div>
      <div class="product-split">
          <div class="split-item">
              <img src="{{ product.metafields.panel-image.one }}" alt="">
              {{ prodSplit[1] }}
          </div>
          <div class="split-item">
              <img src="{{ product.metafields.panel-image.two }}" alt="">
              {{ prodSplit[2] }}
          </div>
          <div class="split-item">
              <img src="{{ product.metafields.panel-image.three }}" alt="">
              {{ prodSplit[3] }}
          </div>
      </div>
      <div class="product-options-info view-target">
          <div class="product-options">
              <p>OPTIONS</p>
                <select name="id" id="productSelect" class="product-single__variants">
                {% for variant in product.variants %}
                  {% if variant.available %}

                    {% comment %}
                      Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                    {% endcomment %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
                </select>

                    {% assign metaField = 'product.metafields.colour' %}
                    {% assign metaName = 'properties[Colour]' %}
                    <div class="line-item-property__field option" data-metaField="{{ metaField }}" data-metaName="{{ metaName }}">
                      {% for field in product.metafields.colour %}
                          {% capture assetUrl %}{{ field | last }}{% endcapture %}
                          {% capture assetName %}{{ field | first }}{% endcapture %}
                          <label for="colour">
                              <input required class="required" type="radio" name="{{ metaName }}" value="{{ assetName | replace: '-', ' ' }}" data-error="Please select a colour">
                              <img src="{{ assetUrl | asset_url }}" alt="{{ assetName }}">
                              <h3>{{ assetName | replace: '-', ' ' | capitalize }}</h3>
                          </label>
                      {% endfor %}
                    </div>

                    {% assign metaField = 'product.metafields.handle' %}
                    {% assign metaName = 'properties[Handle]' %}
                    <div class="line-item-property__field option" data-metaField="{{ metaField }}" data-metaName="{{ metaName }}">
                      {% for field in product.metafields.handle %}
                          {% capture assetUrl %}{{ field | last }}{% endcapture %}
                          {% capture assetName %}{{ field | first }}{% endcapture %}
                          <label for="handle">
                              <input required class="required" type="radio" name="{{ metaName }}" value="{{ assetName | replace: '-', ' ' }}" data-error="Please select a handle">
                              <img src="{{ assetUrl | asset_url }}" alt="{{ assetName }}">
                              <h3>{{ assetName | replace: '-', ' ' | capitalize }}</h3>
                          </label>
                      {% endfor %}
                    </div>

          </div>
          <div class="product-info">

            <ul class="tabs-menu">
              <li><a href="#tab1" class="active">Information</a></li>
              <li><a href="#tab2">Payment Options</a></li>
              <li><a href="#tab3">Delivery</a></li>
            </ul>

            <div class="tabs-content">
              <div id="tab1" class="active">
                  <p>{{ prodSplit[4] }}</p>
              </div>

              <div id="tab2">
                  <p>{{ prodSplit[5] }}</p>
              </div>

              <div id="tab3">
                  <p>{{ prodSplit[6] }}</p>
              </div>

              <p>PRODUCT INFO</p>
          </div>

      </div>
  </div>

</div>

<script>
    $('.tabs-menu a').click(function(e){
      e.preventDefault();
      $('.tabs-menu').find('.active').removeClass('active');
      $(this).addClass('active');
      $('.tabs-content').find('div').removeClass('active');
      $(this.hash).addClass('active');
      console.log('switch it on em');
    });

    $('.product-image-carousel').slick({
        arrows: true
    });

    $('.view-btn').on('click', function(){
        var target = $('.view-target');
        console.log('triggered');
        if (target.length){
            var top = target.offset().top;
            $('html,body').animate({scrollTop: top}, 1000);
            return false;
        }
    });

    $('.option label').on('click', function(){
        $(this).parent('.option').find('label').removeClass('active');
        $(this).addClass('active');
    });
</script>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
